/* @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
*/
:root{
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;

  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-10: hsl(210, 36%, 96%);

  --clr-black: #222;
  --clr-white: #fff;

  --clr-green-dark: hsl(125, 67%, 44%);

  --radius: 0.5rem;

  --transition: all 0.3s linear;
}

body {
    background: var(--clr-grey-10);
    /*
    font-family: var(--ff-secondary);
    color: var(--clr-grey-1);
    font-size: 0.875rem;
    */
}