<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/styles.css}" />
    <title>Välkommen till Café Noir</title>
</head>
<div layout:fragment="content">
    <div th:x-data="|initData('${pageNo}')|">
        <h2>Café Noir Products total count: <span x-text="products.totalElements">9999</span></h2>
        <div th:replace="~{fragments/pagination :: pagination}"> </div>
        <div class="row row-cols-1 row-cols-md-5">
            <template x-for="product in products.data">
                <div class="col mb-3">
                    <div class="card h-100 product img-fit">

                        <img :src="product.imageUrl" class="card-img-top" height="300" width="200" />

                        <div class="card-body">
                            <h5 class="card-title" data-toggle="tooltip" data-placement="top" x-text="product.name">
                                product.name</h5>
                            <p class="card-text" data-toggle="tooltip" data-placement="top"
                               x-text="'Price: $'+product.price">product.price</p>
                        </div>
                        <div class="card-footer" style="background: transparent; border-top: 0;">
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" @click="addToCart(product)">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <!--        <ul>-->
        <!--            <template x-for="product in products.data">-->
        <!--                <li x-text="product.name" style="color: brown; font-size: 1.5rem"></li>-->
        <!--            </template>-->
        <!--        </ul>-->
    </div>
</div>
<!--<body>
    <h1>Display All Coffees</h1>
    <h2 th:text="'Variable PageNo is(displayed using thymeleaf): ' + ${pageNo}">This should get substituted using Thymeleaf directive</h2>

    <button class="btn btn-primary">Click me</button>
    <script src="/webjars/jquery/3.7.1/jquery.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
    <script defer src="/webjars/alpinejs/3.13.10/dist/cdn.min.js"></script>
</body>-->
<div layout:fragment="pageScripts">
    <script src="/js/products.js"></script>
</div>

</html>